.fontClass {
  font-family: fantasy;
}

.scroll-style::-webkit-scrollbar {
  width: 0.2rem;
}

.scroll-style::-webkit-scrollbar-track {
  background: white;
}

.scroll-style::-webkit-scrollbar-thumb {
  background: rgb(96 165 250);
}
/*.react-input-emoji--container {
  display: none;
}
.react-emoji {
  width: 41px !important;
}
.react-input-emoji--button svg {
  --tw-text-opacity: 1 !important;
  fill: rgb(75 85 99 / var(--tw-text-opacity)) !important;
  height: 21px;
  width: 21px;
}
.react-input-emoji--button {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 500ms !important;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;

}
.react-input-emoji--button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.react-input-emoji--button:active svg {
  height: 17px;
  width: 17px;
  margin: 2px;
}*/
aside.emoji-picker-react {
  width: 329px !important;/*294*/
  position: absolute !important;
  right: -6rem;
  bottom: 3.5rem;
}